.splash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: all 0.3s ease-in-out;

  background: url(../../images/2020PS-splash-bg.png);
  background-size: cover;

  will-change: contents;

  z-index: 98;

  @media (max-width: $breakpoint-med) {
    position: relative;
    height: calc(100vh + 50vw);
    min-height: 600px;
    overflow: hidden;
    margin-bottom: 100px;

    &::after {
      content: '';
      background: white;
      bottom: -36vw;
      position: absolute;
      width: 72vw;
      height: 72vw;
      transform: rotate(45deg) translate(-50%, 50%);
    }

    &::before {
      content: '';
      background: white;
      bottom: -36vw;
      position: absolute;
      width: 72vw;
      height: 72vw;
      transform: rotate(45deg) translate(50%, -50%);
    }
  }

  @include color-content(white);

  .splash-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @media (max-width: $breakpoint-med) {
      background-color: rgba($brand-primary, 0.04);
    }

    

    .splash-upper {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      flex: 1;

      transition: all 0.3s ease-in-out, background-color 0.2s ease-in-out;
      
      .splash-right-menu {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: 0.3s ease-in-out;

        @media (max-width: $breakpoint-med) {
          position: absolute;
          width: 100%;
        }

        .splash-right-upper {
          display: flex;
          flex-direction: column;
          margin-top: 0;
          transform:translateY(0);
          opacity: 1;
          transition: 0.2s ease-in-out;
          max-width: 90%;

          @media (max-width: $breakpoint-med) {
            position: fixed;
            background-color: transparent;

            justify-content: center;
            align-items: center;

            display: none;

            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            transform: none;

            max-width: 100%;

            width: auto;
            z-index: 98;

            &.mobile-open {
              display: flex;
            }
          }

          .splash-right-para {

            @media (max-width: $breakpoint-med) {
              max-width: 90%;
              margin: 0 auto;
              transform: translateY(-100px);
              transition: all 0.2s ease-in-out;
              opacity: 0;

              
            }

            .splash-right-para-welcome {
              font-family: $font-heading;
              color: white;
              font-weight: 700;
              font-size: 0.8rem;

              text-transform: uppercase;

              margin-bottom: 0;

              @media (max-width: $breakpoint-med) {
                font-size: 0.8rem;
              }
            }
            .splash-right-para-select {
              font-family: $font-heading;
              color: $brand-primary;
              font-size: 1.6rem;
              text-transform: uppercase;

              margin-top: 0;
              margin-bottom: 30px;
              transition: 0.2s ease-in-out;

              @media (max-width: $breakpoint-med) {
                font-size: 1.4rem;
              }

              span {
                color: $brand-primary;
              }

              &.splash-nav-aboutme {
                color: $color-about;
                span {
                  color: $color-about;
                }
              }
              &.splash-nav-skills {
                color: $color-skills;
                span {
                  color: $color-skills;
                }
              }
              &.splash-nav-experience {
                color: $color-experience;
                span {
                  color: $color-experience;
                }
              }
              &.splash-nav-projects {
                color: $color-projects;
                span {
                  color: $color-projects;
                }
              }
              &.splash-nav-contact {
                color: $color-contact;
                span {
                  color: $color-contact;
                }
              }
            }
          }

          .splash-right-nav {

            @media (max-width: $breakpoint-med) {
              width: 100%;
            }

            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;

              li {
                @media (max-width: $breakpoint-med) {
                  transform: translateY(200px);
                  opacity: 0;
                  transition: 0.2s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
    .splash-lower-terminal-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      height: auto;
      opacity: 1;
      transition: 0.3s ease-in-out;

      @media (max-width: $breakpoint-med) {
        display: none;
      }

      .splash-lower-left-terminal {
        width: calc(50% - 25px);
        background-color: rgba($brand-primary, 0.04);

        display: flex;
        flex-direction: row;
        align-items: center;

        padding-bottom: 15px;
        padding-left: 25px;

        transition: all 0.3s ease-in-out;

        user-select: none;

        .splash-lower-left-terminal-blinker {
          width: 6px;
          height: 14px;
          background-color: $brand-primary;
          margin-right: 10px;
        }

        span {
          margin-top: 1px;
          font-family: $font-heading;
          font-weight: 700;
          font-size: 9px;
          letter-spacing: 0.5px;
          color: $brand-primary;
        }
      }
      .splash-lower-right-terminal {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding-bottom: 15px;
        padding-right: 25px;

        user-select: none;

        span {
          margin-top: 1px;
          font-family: $font-heading;
          font-weight: 700;
          font-size: 9px;
          letter-spacing: 0.5px;
          color: $brand-primary;
          text-transform: uppercase;

          margin-right: 10px;
        }
      }
    }
    .splash-lower-bar {
      width: 100%;
      height: 3px;
      background: $brand-primary;

      @media (max-width: $breakpoint-med) {
        display: none;
      }

      &.splash-nav-aboutme {
        background-color: $color-about;
      }
      &.splash-nav-skills {
        background-color: $color-skills;
      }
      &.splash-nav-experience {
        background-color: $color-experience;
      }
      &.splash-nav-projects {
        background-color: $color-projects;
      }
      &.splash-nav-contact {
        background-color: $color-contact;
      }
    }
  }
}

.blinkingScore {
  animation: score-opacity 1s infinite;
}

@keyframes score-opacity {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}