$section-line-padding-left: 7%;

.section-experience {
  .section-startheader-right-inner {
    img {
      width: 120px;
    }
  }
  .section-content-startheader {
    margin-bottom: 0 !important;
  }
}

.section {
  //height: 2000px;
  margin-left: 350px;
  border-left: 3px solid $color-dark-bg;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    z-index: -1;
    background-color: $color-dark-bg;

    @media (max-width: $breakpoint-med) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-med) {
    margin-left: 0;
    border-left: none;
  }

  @mixin sectionHeaderColor($color, $darken-factor) {
    border-color: $color;

    h2,
    h3,
    p {
      color: $color;
    }

    @media (max-width: $breakpoint-med) {
      .section-header {
        border: 3px solid $color;
      }
    }

    .section-header svg path {
      fill: $color;
    }

    a {
      color: $color;
      border-color: $color;
      text-decoration: none;
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        position: absolute;
        left: -3px;
        width: 3px;
        top: 0;
        bottom: 0;
      }

      &::after {
        content: '';
        position: absolute;
        right: -3px;
        width: 3px;
        top: 0;
        bottom: 0;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover, &:focus {
          background: $color;
          color: white;

          &::before, &::after {
            background-color: $color;
          }
        }
      }
    }

    .section-content-links ul li a {
      &:hover, &:focus, &:active, &:visited {
        background: rgba(255,255,255,0.1);
      }
    }

    .section-header {
      background-color: darken($color, $darken-factor);

      .section-bgbox {
        background-color: darken($color, $darken-factor - 4%);
      }
    }

    .section-codetext-rect {
      background-color: $color;
    }

    .section-startheader-right-line {
      background-color: $color;
      &::after, &::before {
        background-color: $color;
      }
    }

    .section-codetext-text p {
      color: $color;
    }

    .section-startpoint-highlight,
    .section-startheader-highlight {
      background-color: $color;
    }

    .experience-entry-pointfill {
      fill: $color;
    }
  }

  &.section-aboutme {
    @include sectionHeaderColor($color-about, 58%);
  }

  &.section-skills {
    @include sectionHeaderColor($color-skills, 62%);
  }

  &.section-experience {
    @include sectionHeaderColor($color-experience, 45%);
  }

  &.section-projects {
    @include sectionHeaderColor($color-projects, 58%);
  }

  &.section-contact {
    @include sectionHeaderColor($color-contact, 48%);
  }



  .section-header {
    border-top: 6px solid $color-dark-bg;
    border-bottom: 6px solid $color-dark-bg;
    border-right: 6px solid $color-dark-bg;

    background-color: $color-dark-bg;

    position: relative;
    height: 400px;
    display: flex;
    align-items: flex-end;

    @media (max-width: $breakpoint-med) {
      //border-left: 12px solid $color-dark-bg;
      //border-right-width: 12px;
      align-items: center;
      height: auto;

      //border-radius: 20px;
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;

      //border-top-width: 60px;
      //border-bottom-width: 60px;

      border: 8px solid black !important;
      overflow: hidden;
    }

    .section-line {
      position: absolute;

      @media (max-width: $breakpoint-med) {
        display: none;
        position: relative;
      }

      z-index: 90;

      &.section-topline {
        top: 0px;
        left: 0px;
        right: 0;
        height: 3px;
      }

      &.section-bottomline {
        bottom: 0px;
        left: 0px;
        right: 0;
        height: 3px;
      }

      &.section-rightline {
        top: 0;
        bottom: 0;
        right: 0;
        width: 3px;
      }

      &.section-leftline {
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        display: none;
      }

      @media (max-width: $breakpoint-med) {
        &.section-leftline {
          display: block;
        }
      }


      &.section-aboutme {
        background-color: $color-about;
      }

      &.section-skills {
        background-color: $color-skills;
      }

      &.section-experience {
        background-color: $color-experience;
      }

      &.section-projects {
        background-color: $color-projects;
      }

      &.section-contact {
        background-color: $color-contact;
      }
    }

    .section-bgboxes {
      position: absolute;
      top: 3px;
      bottom: 3px;
      right: 3px;
      left: 0px;
      overflow: hidden;

      @media (max-width: $breakpoint-med) {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        //border-radius: 20px;
      }

      .section-bgbox {
        position: absolute;
        z-index: 1;

        //left: 5px;
        //top: 98px;
        width: 300px;
        height: 300px;

        transform: translate(-50%, -50%);
        transition: all 3s ease-in-out;

        will-change: all;

        $bgbox-sizes: (50vw, 25vw, 10vw, 8vw, 5vw);
        $bgbox-size-multipler: 2.5;

        &.bgbox-1 {
          width: nth($bgbox-sizes, 1);
          height: nth($bgbox-sizes, 1);

          @media (max-width: $breakpoint-med) {
            width: nth($bgbox-sizes, 1) * $bgbox-size-multipler;
            height: nth($bgbox-sizes, 1) * $bgbox-size-multipler;
          }
        }

        &.bgbox-2 {
          width: nth($bgbox-sizes, 2);
          height: nth($bgbox-sizes, 2);

          @media (max-width: $breakpoint-med) {
            width: nth($bgbox-sizes, 2) * $bgbox-size-multipler;
            height: nth($bgbox-sizes, 2) * $bgbox-size-multipler;
          }
        }

        &.bgbox-3 {
          width: nth($bgbox-sizes, 3);
          height: nth($bgbox-sizes, 3);

          @media (max-width: $breakpoint-med) {
            width: nth($bgbox-sizes, 3) * $bgbox-size-multipler;
            height: nth($bgbox-sizes, 3) * $bgbox-size-multipler;
          }
        }

        &.bgbox-4 {
          width: nth($bgbox-sizes, 4);
          height: nth($bgbox-sizes, 4);

          @media (max-width: $breakpoint-med) {
            width: nth($bgbox-sizes, 4) * $bgbox-size-multipler;
            height: nth($bgbox-sizes, 4) * $bgbox-size-multipler;
          }
        }

        &.bgbox-5 {
          width: nth($bgbox-sizes, 5);
          height: nth($bgbox-sizes, 5);

          @media (max-width: $breakpoint-med) {
            width: nth($bgbox-sizes, 5) * $bgbox-size-multipler;
            height: nth($bgbox-sizes, 5) * $bgbox-size-multipler;
          }
        }

      }
    }

    .section-codetext {
      position: absolute;
      bottom: 10px;
      right: 10px;

      display: flex;
      flex-direction: row;
      align-items: center;

      z-index: 97;

      .section-codetext-rect {
        width: 6px;
        height: 14px;
        margin-left: 10px;
      }

      .section-codetext-text p {
        margin-top: 2px;
        font-family: $font-heading;
        font-weight: 900;
        font-size: 8px;
        letter-spacing: 1px;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }

    .section-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
      z-index: 95;

      @media (max-width: $breakpoint-med) {
        flex-direction: column;
        margin-bottom: 40px;
        width: 100%;

        margin-top: 20px;
      }

      .section-inner-image {
        height: 200px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transform: scale(2);

          path {}
        }
      }

      .section-inner-content {
        @media (max-width: $breakpoint-med) {
          width: 100%;
        }

        .section-content-title {
          h2 {
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 5px;
            margin-top: 0;

            @media (max-width: $breakpoint-med) {
              text-align: center;
            }
          }
        }

        .section-content-description {
          p {
            font-size: 12px;
            color: white;
            margin: 0;
            max-width: 400px;

            @media (max-width: $breakpoint-med) {
              width: 90%;
              max-width: 400px;
              margin: 0 auto;
              text-align: center;
              margin-bottom: 30px;
            }
          }
        }

        .section-content-links {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;

            @media (max-width: $breakpoint-med) {
              flex-direction: column;
              justify-content: center;

            }

            li {
              margin-top: 30px;
              margin-bottom: 10px;

              @media (max-width: $breakpoint-med) {
                width: 80%;
                max-width: 350px;
                margin: 0 auto;
              }

              a {
                font-family: $font-heading;
                font-weight: 700;
                display: block;
                border: 2px solid;
                padding: 8px 40px;
                margin: 0 5px;

                font-size: 12px;
                text-decoration: none;

                @media (max-width: $breakpoint-med) {
                  width: auto;
                  margin: 0;
                  margin-bottom: 10px;
                }

                &:hover, &:focus {
                  color: white;
                  border-color: white;

                  &::after, &::before {
                    display: none;
                  }
                }
                &:focus {
                  outline: 1px dotted white;
                }
              }
            }
          }
        }
      }
    }
  }

  .section-all-content {
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: $breakpoint-med) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;

    $section-content-linewidth: 4px;
    $section-line-mobile-height: 40px;
    $section-line-mobile-height-double: 80px;

    &.section-skills .section-startheader-right-inner img {
      width: 350px;
    }

    .section-content-startheader {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      // Variation without the dot/line.
      &.no-dot {
        .section-content-startheader-left {
          display: none !important;
        }
      }

      &.top-padding {
        margin-top: 80px;
        @media (max-width: $breakpoint-med) {
          margin-top: 60px;
        }
      }

      @media (max-width: $breakpoint-med) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .section-content-startheader-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding-left: $section-line-padding-left;

        @media (max-width: $breakpoint-med) {
          padding-left: 0;
          align-items: center;
        }

        .section-startheader-square {
          border: 4px solid black;
          height: 22px;
          width: 22px;

          position: relative;
          transform: translateX(-50%);

          @media (max-width: $breakpoint-med) {
            transform: none;
          }

          .section-startheader-highlight {
            height: 15px;
            width: 15px;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .section-startheader-line {
          width: $section-content-linewidth;
          height: 70%;
          background: black;
          transform: translateX(-50%);

          @media (max-width: $breakpoint-med) {
            height: $section-line-mobile-height;
            transform: none;
            margin-top: -2px;
          }
        }
      }

      .section-startheader-right {
        flex: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        padding-bottom: 100px;

        @media (max-width: $breakpoint-med) {
          width: 90%;
          margin: 0 auto;
          padding-bottom: 0;
        }

        .section-startheader-right-inner {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 30px;

          h3 {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 20px;
            color: black;
            letter-spacing: -1px;

            @media (max-width: $breakpoint-med) {
              font-size: 1.9rem;
            }
          }

          p {
            color: black;
            font-size: 14px;
            max-width: 300px;
            text-align: center;
            margin-top: 0px;
          }

        }

        .section-startheader-right-line {
          width: 80%;
          height: 4px;
          border-radius: 5px;
          position: relative;

          @media (max-width: $breakpoint-med) {
            display: none;
          }

          &::after {
            content: '';
            width: 4px;
            height: 12px;
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: 0;
          }

          &::before {
            content: '';
            width: 4px;
            height: 12px;
            border-radius: 5px;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    .section-experience-entry {
      display: flex;
      flex-direction: row;
      position: relative;

      @media (max-width: $breakpoint-med) {
        flex-direction: column;
        margin-bottom: 40px;
      }

      &.last {
        .experience-entry-bottomline,
        .experience-entry-angledlinebottom {
          opacity: 0;
          @media (max-width: $breakpoint-med) {
            opacity: 1;
          }
        }
      }

      &.first {
        .experience-entry-angledlinetop,
        .experience-entry-angledlinebottom {
          @media (max-width: $breakpoint-med) {
            opacity: 0;
          }
        }
        .experience-entry-angledmiddleline {
          @media (max-width: $breakpoint-med) {
            height: $section-line-mobile-height !important;
          }
        }
      }

      .experience-entry-left {
        display: flex;
        flex-direction: row;
        position: relative;
        padding-left: $section-line-padding-left;

        @media (max-width: $breakpoint-med) {
          padding: 0;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .experience-entry-lines {
          position: relative;
          width: 0;

          .experience-entry-topline {
            background: black;
            position: absolute;

            top: -2px;
            bottom: calc(50% + 9px);
            width: $section-content-linewidth;
            transform: translateX(-50%);
            border-radius: 5px;
          }

          .experience-entry-bottomline {
            background: black;
            position: absolute;

            bottom: -2px;
            top: calc(50% + 9px);
            width: $section-content-linewidth;
            transform: translateX(-50%);
            border-radius: 5px;
          }
        }

        .experience-entry-angledlines {
          position: relative;

          .experience-entry-angledlinetop {
            position: absolute;
            top: calc(50% - 8px);
            left: -3px;

            width: 15px;
            height: $section-content-linewidth;
            background: black;

            transform: rotate(45deg);
            border-radius: 5px;

            @media (max-width: $breakpoint-med) {
              transform: none;
              left: auto;
              top: -2px;
              right: 0;
            }
          }

          .experience-entry-angledlinebottom {
            position: absolute;
            bottom: calc(50% - 8px);
            left: -3px;

            width: 15px;
            height: $section-content-linewidth;
            background: black;

            transform: rotate(-45deg);
            border-radius: 5px;
            @media (max-width: $breakpoint-med) {
              transform: none;
              left: 0;
              right: auto;
              top: -2px;
            }
          }

          .experience-entry-angledmiddleline {
            position: absolute;
            top: 50%;
            left: 8px;

            transform: translateY(-50%);
            width: 40px;
            height: $section-content-linewidth;

            border-radius: 5px;
            background: black;

            @media (max-width: $breakpoint-med) {
              width: $section-content-linewidth;
              height: $section-line-mobile-height-double;
              transform: none;
              left: 0;
              position: relative;
              margin-top: -2px;
            }
          }
        }

        .experience-entry-point {
          position: relative;

          .experience-entry-pointwrap {
            position: absolute;
            top: 50%;
            left: 45px;
            transform: translateY(-50%);

            border-radius: 50%;
            width: 16px;
            height: 16px;
            border: 4px solid black;

            @media (max-width: $breakpoint-med) {
              position: relative;
              top: 0;
              left: 0;
              transform: none;
              margin-top: -2px;
            }

            svg {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(1.3);
            }
          }
        }
      }

      .experience-entry-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: calc(7% + 50px);
        padding-top: 50px;
        padding-bottom: 50px;

        @media (max-width: $breakpoint-med) {
          margin-left: 0;
        }

        img {
          width: 250px;
          max-width: 100%;

          margin: 0;
          padding: 3px;
          border: 4px solid black;

          @media (max-width: $breakpoint-med) {
            max-width: 250px;
            max-height: 250px;
            margin: 0 auto;
          }
        }
      }

      .experience-entry-content {
        margin-left: 70px;
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 30px;

        @media (max-width: $breakpoint-med) {
          flex-basis: 100%;
          width: 90%;
          margin: 0 auto;
        }

        h4 {
          margin: 0;
          margin-bottom: 5px;
          text-transform: uppercase;
          //letter-spacing: -2px;
          font-size: 22px;

          @media (max-width: $breakpoint-med) {
            text-align: center;
          }
        }

        h5.experience-entry-subtitle {
          margin: 0;
          margin-bottom: 25px;
          font-size: 16px;
          font-weight: 300;
          @media (max-width: $breakpoint-med) {
            text-align: center;
            margin-top: 20px;
          }

          //font-style: italic;
          span.experience-entry-subtitle-pipe {
            font-style: normal;
            font-weight: 700;
            margin-left: 10px;
            margin-right: 10px;
            
          }

          span.experience-entry-subtitle-it {
            color: $color-experience;
            margin-left: 5px;
            @media (max-width: $breakpoint-med) {
            display: block;
            margin-top: 5px;
            margin-left: 0;
          }
          }

        }

        .experience-entry-history {
          margin-bottom: 0.2rem;
          &.small-padding {
            margin-bottom: 1.2rem;
          }
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          color: black;
          font-size: 14px;
          line-height: 22px;
          max-width: 90%;

          @media (max-width: $breakpoint-med) {
            max-width: 100%;
          }

          li {
            margin-bottom: 10px;
            position: relative;

            @media (max-width: $breakpoint-med) {
              margin-left: 20px;
            }

            span.smalltitle {
              font-size: 14px;
              font-family: $font-heading;
              font-weight: 700;
            }

            &::before {
              content: '•';
              position: absolute;
              left: -25px;
              font-size: 22px;
            }
          }
        }

        h5.experience-entry-smalltitle {
          color: black;
          margin-top: 35px;
          margin-bottom: 15px;
          font-size: 14px;
        }

        p {
          font-size: 14px;
          margin-top: 5px;
          color: black;
        }
      }
    }

  }
}

$section-default-padding: 60px;
$section-default-padding-mobile: 30px;

.section-segment {
  width: 100%;

  .segment-inner {
    width: 90%;
    margin: 0 auto;
    padding: $section-default-padding 0;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;

    @media (max-width: $breakpoint-med) {
      flex-direction: column-reverse;
      width: 85%;
      margin: 0 auto;
      padding: $section-default-padding-mobile 0;
    }

    .segment-inner-floaty {
      position: absolute;
    }

    .segment-inner-image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;

        margin: 0;
        padding: 3px;
        border: 4px solid black;

        @media (max-width: $breakpoint-med) {
          max-width: 250px;
          max-height: 250px;
          margin: 0 auto;
        }
      }

      >span {
        font-family: $font-heading;
        text-transform: uppercase;
        font-weight: 900;
        margin-top: 6px;
        font-size: 12px;
      }
    }

    .segment-inner-content-container {
      margin-left: 70px;
      flex-basis: 40%;

      @media (max-width: $breakpoint-med) {
        margin-left: 0;
        margin-bottom: 20px;
        max-width: 500px;
      }

      h3 {
        font-size: 36px;
        margin-bottom: 20px;
        margin-top: 0;

        @media (max-width: $breakpoint-med) {
          font-size: 30px;
        }
      }

      p {
        color: black;
        font-size: 14px;
        max-width: 500px;
      }
    }
  }
}

.segment-hello {
  .segment-inner-floaty {
    position: absolute;
    border: 3px solid $color-about;
    z-index: -1;

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    &.segment-inner-floaty-1 {
      width: 110px;
      height: 110px;

      top: -20px;
      right: -20px;

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5px;
        background: white;
        top: 10px;
        right: 10px;
      }
    }

    &.segment-inner-floaty-2 {
      width: 30px;
      height: 30px;

      left: -120px;
      top: 80px;
    }

    &.segment-inner-floaty-3 {
      width: 10px;
      height: 10px;

      bottom: -15px;
      right: 30px;
    }
  }
}

.segment-get-in-touch {
  .segment-inner-content-container h3 {
    color: black;
    span {
      color: $color-contact;
    }
  }
  i {
    font-size: 16px;
    margin-right: 2px;
  }
  .segment-inner-floaty {
    position: absolute;
    border: 3px solid $color-contact;
    z-index: -1;
    border-radius: 8px;

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    &.segment-inner-floaty-1 {
      width: 80px;
      height: 80px;

      top: -30px;
      right: -30px;

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: -5px;
        background: white;
        top: 20px;
        right: 20px;
      }
    }

    &.segment-inner-floaty-2 {
      width: 40px;
      height: 40px;

      left: -120px;
      bottom: 80px;
    }

    &.segment-inner-floaty-3 {
      width: 20px;
      height: 20px;

      bottom: -15px;
      right: -200px;
    }
  }
}

.segment-learning {
  text-align: right;

  @media (max-width: $breakpoint-med) {
    text-align: left;
  }

  .segment-inner {
    flex-direction: row-reverse;

    @media (max-width: $breakpoint-med) {
      flex-direction: column-reverse;
    }
  }



  .segment-inner-content-container {
    margin-left: 0;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $breakpoint-med) {
      margin: 0;
    }

    h3 {
      color: black;

      span {
        color: $color-experience;
      }
    }
  }


  .segment-inner-floaty {
    position: absolute;
    border: 3px solid $color-experience;
    border-radius: 50%;
    z-index: -1;

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    transform: translate(-50%, -50%);

    &.segment-inner-floaty-1 {
      width: 130px;
      height: 130px;

      left: 130px;
      top: 150px;
    }

    &.segment-inner-floaty-2 {
      width: 50px;
      height: 50px;

      bottom: 20px;
      left: calc(50% - 100px);
    }

    &.segment-inner-floaty-3 {
      width: 20px;
      height: 20px;

      top: 90px;
      left: 210px;
    }
  }
}

.segment-dev-projects {
  .segment-inner-content-container {
    h3 {
      color: black;

      span {
        color: $color-projects;
      }
    }
  }
  .segment-inner-floaty {
    position: absolute;
    border: 3px solid $color-projects;
    z-index: -1;
    transform: rotate(45deg);

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    &.segment-inner-floaty-1 {
      width: 15px;
      height: 110px;

      bottom: -40px;
      right: -520px;
    }

    &.segment-inner-floaty-2 {
      width: 10px;
      height: 30px;

      left: -80px;
      top: 90px;
    }

    &.segment-inner-floaty-3 {
      width: 10px;
      height: 60px;

      right: -90px;
      top: -40px;
    }
  }
}

.segment-art-projects {
  text-align: right;
  @media (max-width: $breakpoint-med) {
    text-align: left;
  }
  .segment-inner {
    flex-direction: row-reverse;

    @media (max-width: $breakpoint-med) {
      flex-direction: column-reverse;
    }
  }
  .segment-inner-content-container {
    margin-left: 0;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $breakpoint-med) {
      margin: 0;
    }

    h3 {
      color: black;

      span {
        color: $color-projects;
      }
    }
  }

  .segment-inner-floaty {
    position: absolute;
    border: 3px solid $color-projects;
    z-index: -1;
    transform: rotate(-45deg);

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    &.segment-inner-floaty-1 {
      width: 15px;
      height: 90px;

      bottom: -40px;
      left: -480px;
    }

    &.segment-inner-floaty-2 {
      width: 12px;
      height: 50px;

      right: -80px;
      top: 80px;
    }

    &.segment-inner-floaty-3 {
      width: 10px;
      height: 30px;

      left: -90px;
      top: -30px;
    }
  }
}

.segment-stuff {
  .segment-inner-content-container {
    h3 {
      color: black;

      span {
        color: $color-projects;
      }
    }

    p span {
      font-weight: 700;
    }
  }

  .segment-inner-floaty {
    position: absolute;

    z-index: -1;

    @media (max-width: $breakpoint-med) {
      display: none;
    }

    &.segment-inner-floaty-1 {
      width: 110px;
      height: 110px;
      border-radius: 50%;

      margin-left: -50%;
      margin-top: 45%;
      border: 3px solid $color-projects;

      &::after {
        content: '';
        position: absolute;
        top: -5px;
        right: -5px;
        background: white;
        bottom: 40px;
        left: 45px;
      }
    }

    &.segment-inner-floaty-2 {
      margin-left: 70%;
      margin-top: -45%;
    }
  }
}

$stats-large-breakpoint: 1400px;

.section-stats {
  width: 80%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  max-width: 1100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  align-items: stretch;

  @media (max-width: $stats-large-breakpoint) {
    flex-direction: column;
    padding: $section-default-padding-mobile 0;
  }

  .stats-status-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    margin-right: 10px;

    @media (max-width: $stats-large-breakpoint) {
      margin-right: 0;
    }

    h3 {
      color: black;
      text-transform: uppercase;
      font-size: 22px;
      margin-left: 30px;
    }

    .stats-status-content {
      flex: 1;

      border: 4px solid black;
      padding: 20px 30px 10px 30px;

      h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;

        &:nth-child(1) {
          color: $color-about;
        }
      }

      p {
        color: black;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }

  .stats-stats-container {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    margin-left: 10px;

    @media (max-width: $stats-large-breakpoint) {
      margin-left: 0;
    }

    h3 {
      color: black;
      text-transform: uppercase;
      font-size: 22px;
      margin-left: 30px;
    }

    .stats-stats-content {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border: 4px solid black;

      .stats-content-entry {
        display: flex;
        flex-direction: row;
        flex: 1;

        @media (max-width: $breakpoint-med) {
          flex-direction: column;
        }

        &:last-of-type {
          .stats-content-title span {
            color: $color-about;
          }
        }

        .stats-content-title {
          background: black;

          padding: 15px 0 15px 30px;
          min-width: 180px;

          span {
            font-size: 14px;
            line-height: 20px;

            font-family: $font-heading;
            font-weight: 700;
            color: white;

            white-space: nowrap;
          }
        }

        .stats-content-data {
          padding: 15px 90px 15px 30px;

          span {
            font-size: 14px;
            line-height: 20px;

            white-space: nowrap;

            @media (max-width: $stats-large-breakpoint) {
              white-space: initial;
            }
          }
        }
      }



    }
  }
}

.section-content-skillsblock {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-med) {
    width: 90%;
  }

  &.twin-block {
    align-items: stretch;
    @media (max-width: $breakpoint-med) {
      flex-direction: column;
    }

    .skillsblock-inner:nth-child(1) {
      margin-right: 10px;
      @media (max-width: $breakpoint-med) {
        margin-right: 0;
      }
    }
    .skillsblock-inner:nth-child(2) {
      margin-left: 10px;
      @media (max-width: $breakpoint-med) {
        margin-left: 0;
        margin-top: 40px;
      }
    }
    .skillsblock-inner-bottom {
      height: 100%;
      .skillsblock-bottom-chart {
        justify-content: flex-start !important;
      }
    }
  }

  .skillsblock-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    .skillsblock-inner-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 40px;
      margin-bottom: 16px;

      @media (max-width: $breakpoint-med) {
        margin-left: 10px;
      }

      h4 {
        color: black;
        text-transform: uppercase;
        font-size: 22px;
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .skillsblock-inner-bottom {
      display: flex;
      flex-direction: row;
      border: 4px solid black;

      @media (max-width: $breakpoint-med) {
        flex-direction: column;
      }

      .skillsblock-bottom-content {
        flex-basis: 35%;
        padding: 20px 30px 10px 30px;
        p {
          color: black;
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 25px;
        }
      }
      .skillsblock-bottom-chart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: black;
        flex: 1;
        padding: 20px 40px;

        @media (max-width: $breakpoint-med) {
          padding: 30px 30px;
        }

        .skillsblock-chart-row {
          display: flex;
          flex-direction: row;
          align-items: center;

          margin-top: 5px;
          margin-bottom: 5px;

          @media (max-width: $breakpoint-med) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 8px;
            margin-bottom: 8px;
          }

          .skillsblock-row-title {
            min-width: 120px;
            p {
              font-size: 14px;
              line-height: 20px;
              font-family: "Rubik", sans-serif;
              font-weight: 700;
              white-space: nowrap;
              margin: 0;
            }
            @media (max-width: $breakpoint-med) {
              margin-bottom: 2px;
            }
          }
          .skillsblock-row-amount {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            .skillsblock-row-amount-fill {
              background-color: white;
              height: 15px;
              border-radius: 7px;

              
            }
          }

          @mixin skillsBlockRowGrad($color1, $color2) {
            .skillsblock-row-amount-fill {
              background: $color1;
              background: linear-gradient(90deg, $color1 0%, $color2 100%);
            }
          }

          &.g-web {
            p {
              color: white;
            }
            @include skillsBlockRowGrad(rgba(78,230,244,1), rgba(86,204,255,1));
          }

          &.g-orange {
            p {
              color: #fd982c;
            }
            @include skillsBlockRowGrad(#fd982c,#fa502e);
          }

          &.g-orange-2 {
            p {
              color: #f89820;
            }
            @include skillsBlockRowGrad(#f89820,#f8be20);
          }

          &.g-sharp {
            p {
              color: #21c32a;
            }
            @include skillsBlockRowGrad(#21c32a,#28d461);
          }

          &.g-java {
            p {
              color: #ee2b33;
            }
            @include skillsBlockRowGrad(#ee2b33,#ee622b);
          }

          &.g-magenta {
            p {
              color: #ec00c2;
            }
            @include skillsBlockRowGrad(#ec00c2,#ec008c);
          }

          &.g-purple {
            p {
              color: #904ef4;
            }
            @include skillsBlockRowGrad(#904ef4,#567eff);
          }

          &.g-green {
            p {
              color: #4ef459;
            }
            @include skillsBlockRowGrad(#4ef459,#b5ff56);
          }

          &.g-general {
            p {
              color: white;
            }
            @include skillsBlockRowGrad(rgba(86,204,255,1), #7684ea);
          }

          &.g-creative {
            p {
              color: white;
            }
            @include skillsBlockRowGrad(rgba(86,204,255,1), #5eecb8);
          }

          &.g-photoshop {
            p {
              color: #fff226;
            }
            @include skillsBlockRowGrad(#fff226, #ffba26);
          }

          &.g-procreate {
            p {
              color: #f045ea;
            }
            @include skillsBlockRowGrad(#f045ea, #754ee9);
          }


        }
      }
    }   
  }
}

.section-smalltitle {
  width: 90%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-med) {
    width: 85%;
    padding: $section-default-padding-mobile 0;
  }

  .smalltitle-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    h3 {
      margin-bottom: 10px;
    }

    .smalltitle-divider {
      height: 4px;
      background: black;
      width: 400px;
      max-width: 80%;
      border-radius: 2px;
    }
  }
}

.section-sidecards {
  width: 100%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: $breakpoint-med) {
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: $section-default-padding-mobile 0;
  }

  .sidecards-card {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;

    @media (max-width: $breakpoint-med) {
      margin: 0 auto;
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 250px;
      max-height: 250px;

      margin: 0;
      padding: 3px;
      border: 4px solid black;

      @media (max-width: $breakpoint-med) {
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto;
      }
    }

    p {
      display: block;
      max-width: 250px;

      color: black;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.section-contact-form {
  width: 100%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 10px;
    margin-bottom: 90px;
    .form-header-inner {
      width: 350px;
      max-width: 85%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        width: 160px;
      }
      h3 {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 25px;
        color: black;
        letter-spacing: -1px;
      }
      .form-header-line {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: $color-contact;
      }
    }
  }

  .form-body {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    .form-body-inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .form-content {
        width: 80%;
        max-width: 700px;
        margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .form-content-row {
          width: 100%;

          display: flex;
          flex-direction: row;
          margin-bottom: 14px;

          @media (max-width: $breakpoint-med) {
            flex-direction: column;
            //margin-bottom: 0;
          }
          
          label {
            display: block;
            width: 220px;
            

            background: black;
            color: white;

            padding: 22px 30px 20px;

            font-family: $font-heading;
            font-size: 14px;
            font-weight: 600;

            user-select: none;

            @media (max-width: $breakpoint-med) {
              max-width: 100%;
              width: auto;
              padding: 12px 20px 8px;
            }
            span {
              color: $color-contact;
            }
            &.textarea {
              height: 100%;
            }
          }
          input, textarea {
            border: 4px solid black;
            width: 100%;
            display: block;

            font-family: $font-body;
            font-size: 14px;
            padding: 14px 20px 14px 20px;

            &::placeholder {
              color: rgba(0,0,0,0.3);
            }

            @media (max-width: $breakpoint-med) {
              max-width: 100%;
              width: auto;
            }

            &:focus, &:active {
              border-color: $color-contact;
              outline: none;
              &::placeholder {
                color: transparent;
              }
            }
          }
          textarea {
            height: 300px;
            resize: none;
          }
        }
      }
      .form-submit {
        margin-top: 60px;
        max-width: 80%;
        button {
          border: 4px solid black;
          background: none;
          border-radius: 50px;

          width: 400px;
          max-width: 100%;
          height: 50px;

          font-family: $font-heading;
          font-size: 16px;
          font-weight: 700;

          position: relative;
          cursor: pointer;
          svg {
            position: absolute;
            left: 10px;
            top: 55%;
            transform: translateY(-50%) scale(0.7);
          }

          &:hover, &:focus {
            border-color: $color-contact;
            color: $color-contact;
            //background: black;
          }
          &:active {
            color: black;
            border-color: black;
            svg path {
              fill: black;
            }
          }
          &:focus {
            outline: 1px dotted black;
          }
        }
        p {
          text-align: center;
          display: block;
          padding: 10px;
          margin: 0;
          margin-top: 20px;

          font-family: $font-heading;
          &.form-success {
            color: $color-experience;
          }
          &.form-error {
            color: $color-about;
          }

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.projects-filter-menu {
  width: 100%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  padding-bottom: 0;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-med) {
    width: 90%;
  }
  .projects-filter-inner {
    padding: 30px 20px;
    //border: 4px solid black;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: $breakpoint-med) {
      flex-direction: column;
    }

    span, a {
      font-family: $font-heading;

    }
    span {
      margin-right: 40px;
      @media (max-width: $breakpoint-med) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: $breakpoint-med) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      li {
        margin-left: 15px;
        margin-right: 15px;
        @media (max-width: $breakpoint-med) {
          margin: 15px;
          margin-bottom: 5px;
        }
        a {
          font-weight: 700;
          letter-spacing: -0.5px;
          color: black;
          background: none !important;
          display: block;
          &::after {
            display: none;
          }
          &::before {
            bottom: -3px;
            right: 0;
            left: 0;
            top: auto;
            height: 3px;
            width: auto;
            border-radius: 5px;
          }
          &:hover, &:focus {
            color: black;
            &::before {
              display: block;
              background-color: $color-projects;
            }
          }
          &.active {
            color: $color-projects;
            &::before {
              display: block !important;
              background-color: $color-projects;
            }
          }
        }
      }
    }
  }
}

.projects-filter-body {
  width: 95%;
  margin: 0 auto;
  padding: $section-default-padding 0;
  padding-top: 20px;
  padding-bottom: 80px;
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: center;
  .projects-filter-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .projects-filter-item {
      display: flex;
      flex-direction: column;

      padding: 6px;
      margin: 5px;
      width: 330px;
      max-width: 100%;

      //background: black;

      cursor: pointer;
      user-select: none;
      transition: 0.2s ease-in-out;

      border: 3px solid white;
      border-radius: 15px;

      div {
        pointer-events: none;
      }

      @media (max-width: $breakpoint-med) {
        margin: 0;
        margin: 8px;
      }

      &::before, &::after {
        display: none !important;
      }

      @media(hover: hover) and (pointer: fine) {
        &:hover, &:focus {
          .filter-item-image .filter-item-image-wrap img {
            transform: scale(1.8);
          }
          .filter-item-body .filter-item-button svg {
            transform: scale(1.2);
          }
          .filter-item-body .filter-item-titles h4 {
            text-decoration: underline;
          }
          .filter-item-image .filter-item-image-wrap::after {
            opacity: 0.2;
          }
        }
      }

      .filter-item-image {
        
        .filter-item-image-wrap {
          overflow: hidden;
          border-radius: 6px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background: white;
            transition: 0.1s ease-in-out;
          }

          img {
            max-width: 100%;
            max-height: 100%;
            user-select: none;
            pointer-events: none;
            margin: 0;
            transform: scale(1);
            
            display: block;
            transition: 0.1s ease-in-out;
          }
        }
      }
      .filter-item-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;

        border: 2px solid transparent;
        border-radius: 10px;

        padding: 15px;

        .filter-item-titles {
          h4 {
            margin: 0;
            font-size: 22px;
            letter-spacing: -0.7px;
            color: white;
            transition: 0.1s ease-in-out;
            @media (max-width: $breakpoint-med) {
              font-size: 18px;
            }
          }
          p {
            margin: 0;
            margin-top: 4px;
            font-family: $font-heading;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.1px;
            @media (max-width: $breakpoint-med) {
              font-size: 12px;
              margin-top: 3px;
            }
          }
        }
        .filter-item-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          svg {
            transition: 0.1s ease-in-out;
            path {
              transition: 0.1s ease-in-out;
            }
          }
        }
      }

      @mixin projectColor($color, $color-overlay) {

        .filter-item-button svg path {
          stroke: $color;
        }
        .filter-item-titles p {
          color: $color;
        }
        .filter-item-image .filter-item-image-wrap::after {
          background: $color-overlay;
        }
        background: adjust-color($color, $lightness: -50%);
        @media(hover: hover) and (pointer: fine) {
          &:hover, &:focus {
            background: adjust-color($color, $lightness: -38%);
            border-color: $color;
          }
        }
      }

      &.p-sz {
        @include projectColor(#1796ff, #1796ff);
      }
      &.p-pomo {
        @include projectColor(#06c6e8, #06c6e8);
      }
      &.p-teammates {
        @include projectColor(#00cd7d, #00cd7d);
      }
      &.p-notebot {
        @include projectColor(rgb(22, 236, 255), rgb(22, 236, 255));
      }

      &.p-vs-2020 {
        @include projectColor(#ff9a0a, #ff9a0a);
      }
      &.p-morning-artifice {
        @include projectColor(#f0f, #f0f);
      }
      &.p-jpmc-careers {
        @include projectColor(#2c9ff3, #2c9ff3);
      }
      &.p-unts-2018 {
        @include projectColor(#0ff, #0ff);
      }
      &.p-vs-2017 {
        @include projectColor(#2ab5e9, #2ab5e9);
      }
      &.p-places-demo {
        @include projectColor(#22db90, #22db90);
      }

      &.p-endpoint {
        @include projectColor(#ff9b0b, #ff9b0b);
      }
      &.p-remnant {
        @include projectColor(#2a96db, #2a96db);
      }

      &.p-jthello {
        @include projectColor(#22d064, #22d064);
      }
      &.p-tmsbro {
        @include projectColor(#6e73dc, #6e73dc);
      }

      &.p-sunset-system {
        @include projectColor(#ffaa01, #ff510c);
      }
    }

  }
}

// Projects modal specific
.ReactModal__Overlay .ReactModal__Content .modal-body {
  .projects-modal {

    .projects-modal-item {
      display: none;

      .modal-flavor {
        font-family: $font-heading;
        font-weight: 900;
        font-size: 12px;
        letter-spacing: 0px;
        margin-bottom: 18px;
        text-transform: uppercase;
        color: white;
      }

      .modal-image {
        padding: 3px;
        border-radius: 10px;
        border: 3px solid;
        img {
          border-radius: 5px;
          display: block;
          width: 650px;
          max-width: 100%;
        }
        video {
          border-radius: 5px;
          display: block;
          width: 650px;
          max-width: 100%;
        }
      }

      .modal-title {
        color: white;
        margin-top: 30px;
        margin-bottom: 5px;
        letter-spacing: -0.5px;
        //font-size: 28px;
      }

      .modal-tags {
        margin: 0;
        margin-top: 4px;
        margin-bottom: 30px;
        font-family: $font-heading;
        font-size: 16px;
        font-weight: 700;
        @media (max-width: $breakpoint-med) {
          font-size: 12px;
          margin-top: 3px;
        }
      }

      h5 {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 0px;
      }

      p {
        color: white;
        font-size: 14px;
        max-width: 550px;
        margin-top: 6px;
      }

      .modal-visit {
        text-align: center;
        a {
          border: 3px solid;
          padding: 12px 70px;
          margin: 20px auto;

          font-family: $font-heading;
          font-weight: 700;
          display: inline-block;

          font-size: 16px;
          text-decoration: none;
          }
      }

    }
  }

  @mixin projectColorModal($color) {

    .modal-close {
      button {
        border-color: $color;
        .burger .burger-lines::before, .burger .burger-lines::after {
            background-color: $color;
          }
      }
    }

    .projects-modal {
      .projects-modal-item {
        .modal-flavor span.highlight, h5 { 
          color: $color;
        }
        .modal-image {
          border-color: $color;
        }
        .modal-tags {
          color: $color;
        }
        .modal-visit a {
          border-color: $color;
          color: $color;
        }
      }
    }

  }

  &.p-sz {
    @include projectColorModal(#1796ff);
  }
  &.p-pomo {
    @include projectColorModal(#06c6e8);
  }
  &.p-teammates {
    @include projectColorModal(#00cd7d);
  }
  &.p-notebot {
    @include projectColorModal(rgb(22, 236, 255));
  }

  &.p-vs-2020 {
    @include projectColorModal(#ff9a0a);
  }
  &.p-morning-artifice {
    @include projectColorModal(#f0f);
  }
  &.p-jpmc-careers {
    @include projectColorModal(#2c9ff3);
  }
  &.p-unts-2018 {
    @include projectColorModal(#0ff);
  }
  &.p-vs-2017 {
    @include projectColorModal(#2ab5e9);
  }
  &.p-places-demo {
    @include projectColorModal(#22db90);
  }

  &.p-endpoint {
    @include projectColorModal(#ff9b0b);
  }
  &.p-remnant {
    @include projectColorModal(#2a96db);
  }

  &.p-jthello {
    @include projectColorModal(#22d064);
  }
  &.p-tmsbro {
    @include projectColorModal(#6e73dc);
  }

  &.p-sunset-system {
    @include projectColorModal(#ffaa01);
  }
}
