// compiler.scss

// This file imports all into a single scss for use by the single page application.
// This is done to avoid loading in the same scss multiple times, and to ensure the correct load order for variables, mixins, etc.

// The individual styles are still stored alongside the components, for cleaner project organization.

// GENERAL
@import './variables.scss';
@import './typography.scss';

// CONTAINERS
@import '../containers/Full/Full.scss';
@import '../containers/Splash/Splash.scss';
@import '../containers/Section/Section.scss';

// COMPONENTS
@import '../components/NavButton/NavButton.scss';
@import '../components/SplashProfile/SplashProfile.scss';