// Responsive breakpoints
$breakpoint-small: 768px;
$breakpoint-med: 1224px;

// Colors
$brand-primary: #ff9b0b;
$brand-secondary: #ffb64d;

$color-about: #ff5539;
$color-skills: #56ccff;
$color-experience: #32ff67;
$color-projects: #ff4bfd;
$color-contact: #ff9b0b;

//#ffc80b